/* 
********************************
TABLET:
********************************
*/
@media (max-width: 1175px) {
  :root {
    /* Containers */
    --container-width-content: 37rem; /* 592px */
    --container-width-img: 28.75rem; /* 460px */
  }

  /* Containers & Wrappers */
  .wrapper {
    margin: 0 auto;
    max-width: 48rem; /* 768px */
    min-height: 90vh;
    overflow: hidden;
  }

  .hero {
    margin-left: 2.75rem; /* 44px */
  }

  .hero__image-wrapper {
    top: 9.5rem; /* 152px */
    position: relative;
  }

  .hero__image-wrapper::after {
    right: -7.75rem; /* -124px */
    top: 41.25rem; /* 660px */
  }

  .hero__image {
    transform: translateX(5.625rem); /* 90px */
    top: -9.75rem; /* -156px */
    right: 0;

    height: 54.25rem; /* 868px */
  }

  .logo {
    left: 2.75rem; /* 44px */
    margin-bottom: 0;
  }

  .hero__content {
    margin-top: 19.75rem; /* 316px */
  }

  /* Texts */
  .hero__title {
    max-width: 33rem; /* 528px */
  }

  .hero__description {
    font-size: var(--fs-sm); /* 14px */
    text-align: center;
  }

  /* Hero Partners */
  .hero__partners {
    padding-bottom: 1.5625rem; /* 25px */
  }

  /* Footer */
  .attribution {
    margin-bottom: var(--space-sm);
  }
}

/* 
********************************
MOBILE:
********************************
*/
@media (max-width: 640px) {
  :root {
    /* Font sizes (in rem) */
    --fs-lg: 2rem; /* 32px */

    /* Containers */
    --container-width-content: 18.88rem; /* 302px */
  }

  /* Containers & Wrappers */
  html,
  body {
    overflow-x: hidden;
  }

  .hero {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .hero__image-wrapper::after {
    display: none;
  }

  .hero__image {
    transform: translateX(1.875rem); /* 30px */
    opacity: 0.1;
  }

  .logo {
    position: absolute;
    top: 1.75rem; /* 28px */
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    margin-top: 23.13rem; /* 370px */
    padding: 0;

    background-color: transparent;
  }

  /* Texts */
  .hero__title {
    max-width: var(--container-width-content);
    text-align: center;
    margin-bottom: 1rem; /* 16px */
  }

  /* Hero Form */
  .hero__form {
    order: 2;
  }

  .hero__input {
    padding-right: 0;
  }

  .hero__button {
    position: relative;
    width: var(--container-width-content);
    margin-top: 8px;
    margin-right: 0;
  }

  /* Partners */
  .hero__partners {
    gap: 1rem; /* 16px */
    justify-content: center;
    margin-bottom: var(--space-md);
    padding-bottom: 0;
  }

  .hero__partners img:nth-of-type(1) {
    width: 3.5rem; /* 56px */
    height: 1rem; /* 16px */
  }
  .hero__partners img:nth-of-type(2) {
    width: 2.75rem; /* 44px */
    height: 1rem; /* 16px */
  }
  .hero__partners img:nth-of-type(3) {
    width: 4.75rem; /* 76px */
    height: 1rem; /* 16px */
  }
  .hero__partners img:nth-of-type(4) {
    width: 4.75rem; /* 76px */
    height: 1rem; /* 16px */
  }

  /* Footer */
  .attribution {
    margin-top: 0;
  }
}
